@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-pagination-bullet-size: 20px;
  --swiper-pagination-bullet-width: 20px;
  --swiper-pagination-bullet-height: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #181818;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glowbg {
  border-radius: 32px;
  background: linear-gradient(170deg, #8758ffa3 38.95%, #5cb8e452 92.27%);
  /* background: linear-gradient(170deg, rgb(180 9 236 / 20%) 38.95%, rgba(236, 9, 9, 0.20) 92.27%); */
  /* background: linear-gradient(170deg, rgba(236, 58, 9, 0.20) 38.95%, rgba(236, 9, 9, 0.20) 92.27%); */
  filter: blur(95px);
}
.glowbg2 {
  border-radius: 32px;
  background: linear-gradient(170deg, #8758ffa3 38.95%, #5CB8E4 92.27%);
  /* background: linear-gradient(170deg, rgb(180 9 236 / 20%) 38.95%, rgba(236, 9, 9, 0.20) 92.27%); */
  /* background: linear-gradient(170deg, rgba(236, 58, 9, 0.20) 38.95%, rgba(236, 9, 9, 0.20) 92.27%); */
  filter: blur(95px);
}
